<div id="vez" class="body">
  <div class="info-bar"></div>
  <div class="jogadorvez">
    <div class="valoresjogador">
      <p class="nome bounceInRight animated">{{jogadorPlacarDaVez.nome}}</p>
      <p class="pontos bounceInLeft animated">{{posicao}} - {{jogadorPlacarDaVez.litrao}}L</p>
    </div>
    <div class="personagem">
      <div class="nome bounceInUp animated">{{jogadorPlacarDaVez.personagem.nome}}</div>
      <img class="bounceInDown animated" src="{{jogadorPlacarDaVez.personagem.imagem}}">
    </div>
  </div>
  <div class="info-trabalho"></div>
</div>