<div id="barradevidabar">
    <div class="label">Nome</div>
    <div class="barra">
        <div class="valor-barra"></div>
    </div>
    <div class="lado esquerda">Bar</div>
    <div class="lado direita">Trabalho</div>
    <div id="eventBarraBox" class="event walign-center">
        <div class="pontos" id="boxDiferencaBarra"><span class="sinal">+</span> <span id="valorDiferencaBarra" class="valor">20</span></div>
    </div>
</div>
<router-outlet></router-outlet>
<div id="eventBox" class="walign-center">
    <div class="jogador">
        <p></p>
        <img src="">
    </div>
    <div class="infomsg">
        <span class="sinal"></span>
        <span class="pontos"></span><br>
        <img src="">
    </div>
</div>
<div id="falas"></div>
