<div class="body roxo">
  <div class="logo">
    <span class="letra txtbranco" id="l1">J</span><span class="letra_cerveja" id="l2"><img src="assets/images/beer.png"></span><span class="letra txtbranco" id="l3">G</span><span class="letra txtbranco" id="l4">O<span style="font-size:8vw;font-family:'8bit2'">,</span></span>
    <br><span class="letram" id="l5">O </span><span class="letram" id="l6">J</span><span class="letram" id="l7">O</span><span class="letram" id="l8">G</span><span class="letram" id="l9">O</span>
  </div>
  <div class="botoes">
    <div id="lata1"><img src="assets/images/lata.png"></div>
    <div class="botao bv" (click)='goto("personagens")'>Jogar</div>
    <div id="lata2"><img src="assets/images/lata.png"></div>
    <div class="botao ba">Configuracoes</div>
  </div>
</div>